{% extends 'layouts.html' %}

{% block content %} 
<div class="col-md-2">
    
</div>
<div class="col-md-8">
    <div class="card mt-5 p-3" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
        <h1 class="display-4">Welcome to RePol!</h1>
        <p class="lead">A swift engine that polarizes Customer Reviews into Positive 🙂 or Negative ☹. Used by 10,000+ firms around the world as a text automation polarizer.</p>
        <hr class="my-4">
        <p>Note that all Neutral texts are categorized as Negative Reviews. </p>
        <p class="lead">
            <a  class="btn-danger btn btn-lg " style='float: right;' href='/result'>Begin <i class="bi bi-arrow-right"></i></a>
    
        </p>
      </div>
</div>
<div class="col-md-2">
    
</div>




{% endblock content %}











